body{
    max-width: 50em;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: rgb(245, 244, 244);
	background-image: url("Bcg1.jpg");
}
h2 {
    margin-top: 1em;
    padding-top: 1em;
}
h2,
h3,
strong {
    color: #faf3f3;
}
a{
    color: #4750cc
}
.productContainer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
  }
  .product {  display: grid;
    grid-template-columns: 1fr;
    gap: 0px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      ".";
  }
  
  
